body {
	background-image: url('http://wiki.tesnexus.com/images/7/7c/Work_in_Progress_Header.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: 100% 100%;
}